<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Parliament E-VotingConnectionString" connectionString="Data Source=DESKTOP-94P088P\JELARDO;Initial Catalog=&quot;Parliament E-Voting&quot;;Persist Security Info=True;User ID=sa;Password=Tearsofme1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>